apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp
  namespace: myapp       
spec:
  selector:
    matchLabels:
      app: myapp
  replicas: 2
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
      - name: myapp
        image: wailwinphone/intrusion-detection-system:v0.0.1
        ports:
        - containerPort: 8000
