apiVersion: v1
kind: Service
metadata:
  name: myapp-service
  namespace: myapp
spec:
  type: NodePort
  selector:
    app: myapp
  ports:
    - port: 8000       
      targetPort: 8000  
      nodePort: 30080   